*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: black;
}

body{
    position: relative;
    height: 100Vh;
    transition: background-color 0.5s;
}
.scroll__show--div{
    background-color: #940008;
    width: 100%;
    z-index: 999999;
    bottom: 0;
    position: absolute;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center
}
#scroll__show{
    width:500px;
}

